.product-grid .columns {
	margin-left: 5px;
	margin-right: 5px;
}

#main-menu .accordion-content {
	padding-left: 10px;
}

#main-menu .selected {
	font-size: 16px;
	color: #000;
}

.invisible {
	display: none;
}

.products-count {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 20px;
	font-family: Times,TimesNewRoman,"Times New Roman",Baskerville,Georgia,serif;
	color: #999;
}

section#gallery a {
	margin-right: 8px;
}

.product-detail #breadcrumb {
	padding-bottom: 10px;
}

.product-detail .products-navigation {
	text-align: right;
	margin-bottom: 5px;
}

.product-detail .products-navigation .right {
	margin-left: 10px;
}

.product-detail .product-navigation-link {
	text-decoration: none;
}


#cart .row .description {
	padding-bottom: 20px;
}

#product-form #shop {
	font-size: 15px;
	text-decoration: none;
	margin-left: 15px;
	padding: 10px 20px;
	background: #333 !important;
	color: #fff;
}

#product-form #shop:hover {
	background: #fff !important;
	color: #333;
}
.hidden {
	visibility: hidden;
}